<!DOCTYPE html>

html(lang="en")

	head
		meta(charset="UTF-8")
		title News Rouleau
		link(rel="stylesheet", type="text/css", href="public/css/noyau.css")

	body
		<?php require('apps/header.php'); ?>
		<?php require('apps/content.php'); ?>